* {
    box-sizing: border-box;
}

.image-frame {
    width: 500px;
    height: 100%;
    padding: 50px;
    background-color: black;
}

.image-frame > img {
    width: 100%;
}

.part1, .part2 {
    color: white;
    position: absolute;
    margin: 0;
}

.part1 {
    top: 0;
    left: 196px;
}

.part2 {
    bottom: 0;
    left: 157px;
}

.poster {
    position: relative;
    height: 100%;
    width: 100%;
}